* {
    font-family: Karla, sans-serif;
    text-align: left;
    color: black;
    background-color:#F8F8F8;
}

img {
    width: 100%;
}

a {
    color: #9aac9d;
    text-decoration: none;
}

a:hover {
    color:black;
}

.right {
    text-align: right;
}

.caption {
    font-size: 12px;
    text-decoration: none;
}

#title {
    font-size: 32px;
}

#desc {
    color: #9aac9d;
    font-size: 14px;
}

.square {
    width: 100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 80px; 
    margin-bottom: 10px;
}

#statement-link {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    color: #97446A;
}